/* Layout */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1B21;
  color: #DCDCDC;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
}

header {
  text-align: center;

  .buttons-container {
    margin: 2rem 0 0.1rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.7rem;
  }
}

main {
  padding: 3.6rem 3.6rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

footer {
  background-color: #161619;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}



/* Typography */

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 2.4rem auto 0 auto;
}

h2 {
  color: #F5F5F5;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.job-title {
  color: #F3BF99;
  font-size: 1.28rem;
  margin: 1rem auto 1.1rem auto;
}

.website-link {
  color: #F5F5F5;
  font-size: 1.24rem;
  text-decoration: none;

  &:hover, &:focus {
    color: #c5c5c5;
  }
}

.body-text {
  font-size: 1.024rem;
  line-height: 1.5;
  margin-top: 0.6rem;
}



/* Elements */

.photo {
  background-color: #161619;
  min-height: 317px;
  width: 100vw;
  object-fit: cover;
}

button {
  width: 115px;
  padding: 9px;
  border: none;
  border-radius: 6px;
  background-color: #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;

   &:hover, &:focus {
    background-color: #bec2c9;
  }
}

.btn-link {
  text-decoration: none;
  color: red;
  margin-bottom: 0;
  padding: 0;

}

.btn-icon {
  font-size: 1.6rem;
}

.cta-btn {
  background-color: #5093E2;
  color: #fff;

  &:hover, &:focus {
    background-color: #66aaf7;
  }
}

.social-icon {
  color: #918E9B;
  font-size: 2.7rem;

  &:hover, &:focus {
    color: #aeaab9;
  }
}
